nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10%;
  background-color: aqua;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
@keyframes raining {
  0% {background-image: url("./images/rain1phone.png");}
  33.33% {background-image: url("./images/rain4.png");}
  66.66% {background-image: url("./images/rain2.png");}
  100% {background-image: url("./images/rain3.png");}
}
.rain {
  display: flex;
  animation-name: raining;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 300px;
}

/* TODO CSS */

body {
  background-color: dodgerblue;
}

.todo-div {
  background-color: blue;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#todo-form input{
  background-color: cadetblue;
  border: 0;
  border-radius: 5px ;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  color: white;
}
#todo-form ::placeholder{
  color: azure;
}

#todo-form input:focus{
  outline: none;
}
#todo-form button {
  height: 50px;
  width: 80px;
  border-radius:5px;
  border: 0;
  background-color: violet;
  cursor: pointer;
  font-weight: bolder;
  color: aliceblue;
}
