nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10%;
  background-color: aqua;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.rain {
  background-image: ".//images/rain.png";
}